<style type="text/css">
  #map-canvas {
   html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
  }
</style>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>">
    </script>
<div id="map-canvas"></div>